<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Interna</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  Logueado!
 
  <p>{{ data }}</p>
 
  <ion-button expand="full" (click)="loadSpecialInfo()">Load Special Info</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
 
</ion-content>